body{
	background:rgba(0,0,0,0.2);
	background-image:  url(../images/sunrise.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position:center;
	background-attachment: fixed;
	background-color: rgb(0,0,0,0.5);
}


	
}

.pot1{
	background-color: #fff;
	width: 500px;
	height:500px;
	margin:20px;
	padding: 10px;
	font-size: 20px;
	float: left;
}

.pot2{
	background-color: #fff;
	width: 500px;
	height:500px;
	margin:20px;
	margin-top: 500px;
	padding: 10px;
	font-size: 20px;
	float: right;
}
.navigate{
	background-color: #000;
	text-align: right;
	margin-top: 0;
	padding: 40px;
}


.one{
	background-color: rgba(0,0,0,0.2);
	width:1000px;
	margin:0 auto;
	margin-top: 50px;
	color: #fff;
	text-align: center;
	font-size: 70px;
}
.two{
	background-color:#fff;
	width: 700px;
	margin: 0 auto;
	margin-top: 40px;
	padding: 15px; 
	color:rgba(0,0,0,0.7);
	border-style: double;
	border-color: maroon;

}




a{
	padding: 10px;
	margin: 10px;
	font-size: 25px;
	color:#fff;
}

a:link {
    color: green; 
    background-color: transparent; 
    text-decoration: none;
}



a:hover {

    color: red;
    background-color: orange;
    
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}



