body{
	background:rgba(0,0,0,0.2);
	background-image:  url(../images/sunrise.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position:center;
	background-attachment: fixed;
	background-color: rgb(0,0,0,0.5);
}


	


.pot1{
	background-color: #fff;
	width: 500px;
	height:500px;
	margin:20px;
	color: rgba(0,0,0,0.8);
	padding: 10px;
	font-size: 20px;
	float: left;

	border-style: double;
	border-color: maroon;

}

.pot2{
	background-color: #fff;
	width: 500px;
	min-height:500px;
	margin:20px;
	color: rgba(0,0,0,0.8);
	margin-left: 20px;
	margin-top: 200px;
	padding: 10px;
	font-size: 20px;
	float: right;
	border-style: double;
	border-color: maroon;

}
.navigate{
	background-color: rgba(0,0,0,0.9);
	text-align: right;
	margin-top: 0;
	padding: 40px;
}


.one{
	background-color: rgba(0,0,0,0.2);
	width:1000px;
	margin:0 auto;
	margin-top: 50px;
	color: #fff;
	text-align: center;
	font-size: 70px;
}
.two{
	background-color:#fff;
	width: 700px;
	margin: 0 auto;
	margin-top: 40px;
	padding: 15px; 
	color:rgba(0,0,0,0.7);
	border-style: double;
	border-color: maroon;

}

.icondiv{
	width: 1000px;
	margin:0 auto;
	background-color: #ccc;
	text-align: center;
	min-height: 400px;
}

.book{
	background-color: #fff;
	width: 100px;
	height: 100px;
	padding: 40px;
	color: rgba(0,0,0,0.7);
	margin-top: 30px;
	margin-left: 100px;
	padding-left: 50px;
	border-style: double;
	border-color: maroon;
	float: left;
}
  
  .fa-book{
  	color: maroon;
  	text-align: center;
  }

.phones{
	background-color: #fff;
	width: 100px;
	height: 100px;
	color: rgba(0,0,0,0.7);
	padding: 40px;
	margin-top: 30px;
	margin-left: 100px;
	padding-left: 50px;
	border-style: double;
	border-color: maroon;
	float: left;
}

.fa-headphones{
  	color: maroon;
  	text-align: center;
  }
  .film{
	background-color: #fff;
	width: 100px;
	height: 100px;
	padding: 40px;
	color: rgba(0,0,0,0.7);
	margin-top: 30px;
	margin-left: 100px;
	padding-left: 50px;
	border-style: double;
	border-color: maroon;
	float: left;
}
.fa-film{
  	color: maroon;
  	text-align: center;
  }

a{
	padding: 10px;
	margin: 10px;
	font-size: 25px;
	color:#fff;
}

a:link {
    color: green; 
    background-color: transparent; 
    text-decoration: none;
}



a:hover {

    color: red;
    background-color: orange;
    
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}



